[submodule "extern/ABY"]
	path = extern/ABY
	url = git@gitlab.informatik.hu-berlin.de:ti/theses/student-content/pazelt-marcel-ma/aby-android.git
[submodule "extern/HashingTables"]
	path = extern/HashingTables
	url = https://github.com/Oleksandr-Tkachenko/HashingTables.git
[submodule "extern/libOTe"]
	path = extern/libOTe
	url = git@gitlab.informatik.hu-berlin.de:ti/theses/student-content/pazelt-marcel-ma/android-libote.git
[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
[submodule "extern/sse2neon"]
	path = extern/sse2neon
	url = https://github.com/DLTcollab/sse2neon
